@import url(base.css);
.banner-outbox{
	width: 100%;
	height:auto;
	background:#FFD101;
	margin:0 auto;
}
.banner-box{
	width: 1190px;
	height:480px;
	margin:0 auto;
	background: #e8e8e8;
	position: relative;
}
.banner-box .left{
	width:190px;
	height: 100%;
	background:url(../images/banner/index.png)no-repeat 0 0;
	float: left;
}
.banner-box .left li{
	width: 100%;
	height: 30px;
	font-size: 13px;
	line-height: 30px;
	color: #fff;
	/*background: red;*/
}
.banner-box .left li:hover{
	padding-left: 5px;
	transition:padding .4s linear;
}
.banner-box .left li a{
	display:inline-block;
	font-size:13px;
	width: auto;
	height: 30px;
	line-height: 30px;
	color: #fff;
}
.banner-box .left li a:hover{
	text-decoration: underline;
}

.banner-box .left  li .icon{
	width: 16px;
	height: 16px;
	float: left;
	margin-top: 7px;
	margin-left: 18px;
	margin-right: 14px;
	background: blue;
}
.banner-box .left  li .a{
	background: url(../images/banner/banner-icon.png)no-repeat 0px 0px;
}
.banner-box .left  li .b{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -20px;
}
.banner-box .left  li .c{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -40px;
}
.banner-box .left  li .d{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -60px;
}
.banner-box .left  li .e{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -80px;
}
.banner-box .left  li .f{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -100px;
}
.banner-box .left  li .g{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -120px;
}
.banner-box .left  li .h{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -140px;
}
.banner-box .left  li .i{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -160px;
}
.banner-box .left  li .j{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -180px;
}
.banner-box .left  li .k{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -200px;
}
.banner-box .left  li .l{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -220px;
}
.banner-box .left  li .m{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -240px;
}
.banner-box .left  li .n{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -260px;
}
.banner-box .left  li .o{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -280px;
}
.banner-box .left  li .p{
	background: url(../images/banner/banner-icon.png)no-repeat 0px -300px;
}


.banner-box .center{
	width: 810px;
	height: 100%;
	/*background: red;*/
	float: left;
	position: relative;
	overflow: hidden;
}
.banner-box .center li{
	width: 100%;
	height: 100%;
	position: absolute;
	display: none;
}
.banner-box .center li a{
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0px;
	top:0px;
}
.banner-box .center a img{
	width:820px;
	height: 500px;
	margin-left: -5px;
	margin-top: -5px;
}
.banner-box .center .banner-word{
	width:126px;
	height: 22px;
	position: absolute;
	bottom:6px;
	left:50%;
	margin-left:-63px;
	z-index: 88;
}
.banner-box .center .banner-word i{
	float: left;
	width:20px;
	height:20px;
	border-radius:50%;
	background: #000;
	margin-right:5px;
	font-size: 15px;
	text-align:center;
	line-height:20px;
	color:#fff;
	font-style: normal;
}
.banner-box .center #one{
	display: block;
}


.banner-box .right{
	width: 190px;
	height: 100%;
	/*background: blue;*/
	position:absolute;
	right: 0;
	top:0;
	z-index: 20;
}
.banner-box .right li{
	position: absolute;
	left: 0px;
	top:0px;
	/*overflow: hidden;*/
}
.banner-box .right a{
	display: block;
	width: 190px;
	height: 240px;
}
.banner-box .right #one a{
	display: block;
	width: 190px;
	height: 480px;
}
.banner-box .right i{
	display: block;
	width: 190px;
	height: 0px;
	border-top:1px dashed #ccc;
}



.banner-box .menu-box{
	width:400px;
	height: 480px;
	position: absolute;
	z-index: 99;
	left: 190px;
	top:0;
}
.banner-box .menu-box #one{
	width: 70px;
	height: 100%;
	position: absolute;
	/*display: none;*/
	/*background: red;*/
}
.banner-box .menu-box #one .a{
		width: 70px;
		height: 100%;
		background: #fff;
		opacity: 0.8;
		position: absolute;
		left: 0px;
		top:0px;
	}
.banner-box .menu-box #one .b{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top:0px;
	}
.banner-box .menu-box #one a{
		display: block;
		width: 58px;
		height: 38px;
		font-size: 12px;
		color: #575757;
		font-weight: bold;
		text-align: center;
		line-height: 38px;
		border-bottom: 1px solid #ccc;
		text-decoration: none;
}

.banner-box .menu-box li{
	width: 400px;
	height: 480px;
	display: none;
}
.banner-box .menu-box li .a{
		width: 100%;
		height: 100%;
		background: #fff;
		opacity: 0.8;
		position: absolute;
		left: 0px;
		top:0px;
	}
.banner-box .menu-box li .b{
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0px;
		top:0px;
	}

.banner-box .menu-box .b .top{
	width: 360px;
	height: 44px;
	/*background: red;*/
	margin: 0 auto;
	border-bottom:1px solid #000; 
}
.banner-box .menu-box .b .top a{
	display: block;
	width: 200px;
	height: 20px;
	background: url(../images/menu-icon.png)no-repeat -26px -17px;
	padding-top:16px;
	padding-left: 40px;
	font-size: 12px;
	font-weight: bold;
	color: #000;
	text-decoration: none;
	margin-top: 7px;
}
.banner-box .menu-box .b .top a:hover{
	margin-left: 5px;
	transition:margin .2s linear;
}
/*menu-top  end*/
/*menu-center-a  start*/
.banner-box .menu-box .b .center-a{
	width: 360px;
	height: 75px;
	/*background: blue;*/
	margin: 0 auto;
	margin-top: 20px;
	border-bottom: 1px dashed #888;
}
.banner-box .menu-box .b  a{
	font-size: 12px;
	color: #888;
	display: block;
	height: 20px;
	padding:0px 6px;
	float: left;
	line-height: 20px;
}
.banner-box .menu-box .b  span{
	font-size: 12px;
	display: block;
	width: auto;
	height: 20px;
	float: left;
	color: #888;
	line-height: 20px;
}
.banner-box .menu-box .b a:hover{
	color: #D01F47;
}
/*menu-center-a  end*/
/*menu-center-b  start*/
.banner-box .menu-box .b .center-b{
	width: 360px;
	height: 99px;
	/*background: blue;*/
	margin: 0 auto;
	margin-top: 15px;
	border-bottom: 1px dashed #888;
}

/*menu-center-b  end*/
/*menu-center-c  start*/
.banner-box .menu-box .b .center-c{
	width: 360px;
	height: 53px;
	/*background: red;*/
	margin: 0 auto;
	margin-top: 15px;
	border-bottom: 1px dashed #888;
}
.banner-box .menu-box .b .A a{
	background: url(../images/menu-icon.png)no-repeat -26px -73px;
}
.banner-box .menu-box .b .A a:hover{
	margin-left: 5px;
	transition:margin .2s linear;
}
.banner-box .menu-box .b .bottom{
	width: 360px;
	height: 79px;
	/*background: pink;*/
	padding-top:13px;
	margin: 0 auto;
}

.banner-box .menu-box .b .B a{
	background: url(../images/menu-icon.png)no-repeat -30px -113px;
}
.banner-box .menu-box .b .C a{
	background: url(../images/menu-icon.png)no-repeat -26px -162px;
}
.banner-box .menu-box .b .D a{
	background: url(../images/menu-icon.png)no-repeat -26px -206px;
}